doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(name="theme-color" content="#474069")
    meta(name="color-scheme" content="light dark")
    title= title
    != stylesheet('css/main.sass')
    each value, key in meta
      meta(name=key content=value)
    each value, key in twitter
      meta(name=`twitter:${key}` content=value)
    meta(name="twitter:title" content=title)
    each value, key in open_graph
      meta(property=`og:${key}` content=value)
    meta(property="og:title" content=title)
    if description
      meta(name="description" content=description)
      meta(name="twitter:description" content=description)
      meta(property="og:description" content=description)
    script(type="application/ld+json")!= JSON.stringify(ld_schema)
  body(class=cls)
    include ../nav.pug
    block body
